body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding:0;
    background-color: rgb(241, 239, 237);
}
 header {
    background-color: rgb(136, 98, 62);
    color: rgb(248, 250, 252);
    text-align: center;
    padding: 1rem 0;

 }

 main {
    padding: 2rem;
 }
 h2{
    color: rgb(19, 1, 1);

 }
 table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;

 }
 table th, table td {
    border: 1px solid #0f0101;
    padding: 0.8rem;
    text-align: left;

 }
 table th {
    background-color: rgb(155, 107, 68);
    color: #f8efef;
 }
 .stat-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: auto;
 }
    .stat-container div {
        flex: 1;
        margin: 0 10px;
        padding: 1rem;
        background-color: #f4f4f4;
        border-radius: 5px;
        text-align: center;
        border: 1rem solid #946c3f;
    }
    #indicateur-stat {
        font-size: 1.2rem;
        font-weight: bold;
        color: #c97e39;
        text-align: center;
    }
    