body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding:0;
    background-color: rgb(221, 172, 115);
}
 header {
    background-color: rgb(131, 79, 31);
    color: aliceblue;
    text-align: center;
    padding: 1rem 0;

 }

 main {
    padding: 2rem;
 }
 h2{
    color: black;

 }
 table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;

 }
 table th, table td {
    border: 1px solid #ddd;
    padding: 0.8rem;
    text-align: left;

 }
 table th {
    background-color: rgb(139, 83, 38);
    color: #fff;
 }
 .stat-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: auto;
 }
    .stat-container div {
        flex: 1;
        margin: 0 10px;
        padding: 1rem;
        background-color: #f4f4f4;
        border-radius: 5px;
        text-align: center;
        border: 1rem solid #301b03;
    }
    #indicateur-stat {
        font-size: 1.2rem;
        font-weight: bold;
        color: #c97e39;
        text-align: center;
    }
    